:root {
    --font-titulo:'Pacifico', cursive;
}

.font__titulo {
    font-family: var(--font-titulo);
}
.first-img__carrosel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.second-img__carrosel {
    object-fit: cover;
    height: 400px;
}

.cor_titulo {
    color: darkred;
}

.card_article {
    max-width: 18rem;
}

.button_card {
    background-color: darkred;
    color: white;
}

.border_card_color {
    border-color: darkred;
}

.img_card-position {
    object-fit: cover;
    height: 200px;
}